.home {
  background-image: url("./images/bgmovie.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 937px;
}

.content {
  padding: 3rem 1rem 0 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  height: 900px;
}
