.home {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* background-image: url("./images/bgmovie.jpg"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
